body {
    font-family: "pf-expo", sans-serif;
    font-size: 1.5rem;
}

html,
body {
    height: 100%;
    margin: 0;
    background: #bfd0fc;
    color: #1b1c21;
}

dark{
    background: #1b1c21;
    color: #bfd0fc;
}

h1 {
    font-family: "tt-travels-next", sans-serif;
    font-size: 6rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin: 1rem 0;
}

h2 {
    font-family: "tt-travels-next", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin: 1rem 0;
}

h3 {
    font-family: "tt-travels-next", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin: 1rem 0;
}

.hero {
    background: #1b1c21;
    color: #fff;
    min-height: 80vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.lead {
    font-size: 2rem;
    line-height: 1.4;
    margin: 0.25rem;
}

.video{
    padding: 8rem 0;
}

.columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 8rem 2rem;
}

.description{
    margin-right: 48px;
}

.mograph{
    max-height: 192px;
}

.components{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 8rem 2rem;
}

footer{
    padding: 1rem 2rem;
}

*/ .container {
    margin: 0 2rem;
}

a{
    color: #f37950;
    text-decoration: none;
}

a:hover{
    color: #ce5c36;
    border-bottom: 1px dotted #ce5c36;
}

/* Horizontal Scroll Image Gallery */
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }